.post { 
	display: grid;
	grid-template-columns: 1fr max-content;
	grid-template-areas: "body aside";

	.postbody { 
		display: grid !important;
		grid-template-columns: 50px 1fr;
		grid-template-rows: max-content 50px 1fr max-content;
		grid-template-areas: "mobile mobile" "header header" "data message" "data signature";
		border: 1px solid var(--border);

		.postheader-mobile { 
		   grid-area: mobile;
			display: flex;
			align-items: center; 
			gap: var(--spacing);

			@media (min-width: 701px) {
				display: none;
			}

			.avatar-post-mobile { 
				height: var(--avatar-post-mobile-height);
				width: var(--avatar-post-mobile-width);

				a { 

					img { 
						object-fit: cover;
						height: var(--avatar-post-mobile-height);
						width: var(--avatar-post-mobile-width);
					}
				}
			}

			.username { 
				font: var(--f-xl) var(--f-post-username);
				text-transform: uppercase;
			}
		}

		.postheader { 
			grid-area: header;
			border-bottom: 1px solid var(--border);
			display: flex;
			align-items: center;

			div[data-profile-render-value="imagen-post"] { 
				height: 50px;
				width: 50px;

				img {
					object-fit: cover;
					height: 50px;
					width: 50px;
				}

			}

			.date { 
				font: bold var(--f-s) var(--f-text);
				text-transform: uppercase;
				letter-spacing: .1ch;
				padding: 0 var(--spacing);
			}
		}

		.data { 
			grid-area: data;
			border-right: 1px solid var(--border);
			padding: var(--spacing) 0;

			.permalink { 

				i { 

				}
			}

			.profile-icons { 
				display: flex;
				flex-direction: column;
				gap: var(--spacing-s);

				li { 

					.button { 

						i { 

						}

						span { 

						}
					}
				}
			}
		}

		.content { 
			grid-area: message;
			padding: var(--spacing-2xl);
			font: var(--f-base) var(--f-text);
		}
	}

	.profile { 

		.avatar-post { 

			a { 

				img { 

				}
			}
		}

		hgroup { 

			.username { 

				a { 

					.group-2 { 

						strong { 

						}
					}
				}
			}

			.rank { 

				br { 

				}
			}
		}

		.profile-data { 

		}

		.contact { 

			li { 

				.profile-icon { 

					i { 

					}
				}
			}
		}

		.profile-fields { 

			.profile-field { 

				.field-name { 

				}

				.field-value { 

				}
			}
		}
	}
}
