.post { 
	display: grid;
	grid-template-columns: 1fr max-content;
	grid-template-areas: "body aside";
	gap: var(--spacing);

	.postbody { 
		display: grid !important;
		grid-template-columns: 50px 1fr;
		grid-template-rows: max-content 50px 1fr max-content;
		grid-template-areas: "mobile mobile" "header header" "data message" "data signature";
		border: 1px solid var(--border);

		.postheader-mobile { 
		   grid-area: mobile;
			display: flex;
			align-items: center; 
			gap: var(--spacing);

			@media (min-width: 701px) {
				display: none;
			}

			.avatar-post-mobile { 
				height: var(--avatar-post-mobile-height);
				width: var(--avatar-post-mobile-width);

				a { 

					img { 
						object-fit: cover;
						height: var(--avatar-post-mobile-height);
						width: var(--avatar-post-mobile-width);
					}
				}
			}

			.username { 
				font: var(--f-xl) var(--f-post-username);
				text-transform: uppercase;
			}
		}

		.postheader { 
			grid-area: header;
			border-bottom: 1px solid var(--border);
			display: flex;
			align-items: center;

			div[data-profile-render-value="imagen-post"] { 
				height: 50px;
				width: 50px;
				border-right: 1px solid var(--border);

				img {
					object-fit: cover;
					height: 50px;
					width: 50px;
				}

				@container style(--screen: mobile) {
					display: none;
				}

			}

			.date { 
				font: bold var(--f-s) var(--f-text);
				text-transform: uppercase;
				letter-spacing: .1ch;
				padding: 0 var(--spacing-s);
				flex-grow: 1;
			}
			
			.contact { 
				display: flex;
				align-items: center;
				gap: var(--spacing-s);
				padding-right: var(--spacing-s);
				
				li { 
					display: flex;
					align-items: center;
					
					.profile-icon { }
				}
			}
		}

		.data { 
			grid-area: data;
			border-right: 1px solid var(--border);
			padding: var(--spacing-s) 0;
			background: linear-gradient(150deg, transparent 70%, var(--poster) 200%);
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: var(--spacing-s);


			.permalink { 

				i { 

				}
			}

			.profile-icons { 
							height: max-content;
			position: sticky;
			top: var(--spacing-s);
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: var(--spacing-s);

				li { 
				}
			}
		}

		.content { 
			grid-area: message;
			padding: var(--spacing-2xl);
			font: var(--f-base) var(--f-text);

			&:has(.av-standard, av-rol) {
				padding: var(--spacing-5xl);
			}
		}
	}

	.profile { 
		height: max-content;
		position: sticky;
		top: var(--nav-size);
		display: grid;

		@media (max-width: 700px) {
			display: none;
		}

		.avatar-post { 

			a { 

				img { 
					mask-image: linear-gradient(to bottom, black, transparent);
				}
			}
		}

		hgroup { 
			grid-area: avatar !important;
			width: 350px;
			height: 350px;
			display: flex;
			align-items: flex-end;
			padding: var(--spacing-l);
			

			.username { 
				font: 100 var(--f-3xl) var(--f-post-username);
				text-transform: uppercase;
				line-height: 1;

				strong {
					color: var(--text-1) !important;
				}
			}
		}
	}
}

.stats-popover {
	background: var(--poster-dark);
	margin-right: var(--spacing-s);
}

.character-stats-popover {
    --popover-width: 30vw;
    --popover-height: calc(100vh - var(--nav-size));
    --popover-transform: translateX(100%);
    --popover-transform-open: translateX(0);
    margin-right: 0;
    margin-top: var(--nav-size);
    overflow: auto;
    border: 0;

	@container style(--screen: mobile) {
		--popover-width: 100%;
	}

	.atributo, .habilidad {
		display: flex;
		width: 100%;
		justify-content: space-between;
		text-transform: uppercase;
		gap: var(--spacing);
		align-items: center;

		& > span {
			font: 800 var(--f-base) var(--f-mono);
			display: flex;
			gap: var(--spacing);
			align-items: flex-end;
			flex-grow: 1;

			&:after {
				content: "";
				min-width: 20%;
				flex-grow: 1;
				height: 1em;
				border-bottom: 1px dotted var(--mono-4);
			}
		}
	}		
}
