.av-ficha-pnj { 
	display: grid;
	grid-template-columns: max-content 1fr; 
	grid-template-areas: "img name" "img data" "img history";
	gap: var(--spacing);
	margin-bottom: var(--spacing);
	
	.ficha-imagen { 
		grid-area: img;
		width: 300px; 
		height: 300px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		
		@container style(--screen: mobile) {
			height: 150px;
			width: 150px;
		}
			
			&:after {
				content: "";
				position: absolute;
				height: 302px;
				width: 302px;
				background: url(https://i.imgur.com/x04gaBG.png);
				background-size: 100% 100%;
				z-index: 2;

				@container style(--screen: mobile) {
					height: 152px;
					width: 152px;
				}
			}
		
		img { 
			min-height: 0;
			min-width: 0;
			object-fit: cover;
			height: 100%;
			width: 100%;
			filter: grayscale(1);
			border-radius: var(--spacing);
		}
	}

	.ficha-hero { 
		grid-area: name;
		display: flex;
		flex-direction: column;
		
		.ficha-nombre { 
			font: var(--f-3xl) var(--f-post-username);
			text-transform: uppercase;
			display: flex;
			flex-direction: column;
		}

		.ficha-concepto { 
			font: var(--f-base) var(--f-mono);
			text-transform: uppercase;
		}
	}

	.ficha-datos { 
		grid-area: data;
		display: grid;
		grid-template-columns: repeat(3,1fr);
		gap: var(--spacing-s);
		height: max-content;
		align-self: center;

		span { 
			text-transform: uppercase;
			font: bold var(--f-s) var(--f-metadata);
			border-left: 5px solid var(--accent);
			padding: 0 var(--spacing);
			letter-spacing: .1ch;
		}
	}

	.ficha-descripcion { 
		grid-area: history;
		text-wrap: balance;
		line-height: 1.5;
	}
}
