.content.message {
  h3 {
    font: var(--f-l) var(--f-title);
    text-transform: uppercase;
  }

  h4 {
    font: 900 var(--f-base) var(--f-mono);
    background: var(--poster-dark);
    padding: var(--spacing-xs) var(--spacing-s);
    width: max-content;
    text-transform: uppercase;
  }
}

.content.message blockquote {
  border: 1px solid var(--poster-dark);
  padding: var(--spacing);
  background: var(--poster-deco);
}

.content.message .codebox {
    border: 1px solid var(--poster-dark);
    margin: 0;
    margin-top: var(--spacing-s);
    padding: 0;
    background: var(--surface-elevated);

    dt {
        display: none;
    }

    dd {
        margin: 0;
        padding: var(--spacing);
        display: flex;
        gap: var(--spacing);
        flex-direction: row-reverse;
    }

    .copy-button {
        place-self: end;
        color: var(--poster-dark);
    }

    code {
        margin: 0;
        padding: 0;
        font: 900 var(--f-base) var(--f-mono);
        flex-grow: 1;
    }


}

/* ============================================
LEGACY
=============================================== */

.av-standard {
  max-width: 60ch;
  margin: 0 auto;
  text-wrap: balance;
  font: var(--f-base) var(--f-text);
  line-height: 1.5;

  .titulo-sta {
        font: var(--f-2xl) var(--f-title);
    text-transform: uppercase;
  }

  .subtitulo-sta {
        border-top: 1px solid var(--border);
    font: var(--f-base) var(--f-mono);
    text-transform: uppercase;
    font-weight: 900;
    padding-top: var(--spacing);
    text-align: right;
  }
}
