.post:has([sin-perfil]) {
  grid-template-columns: 1fr !important;
  grid-template-areas: "body" !important;
  .profile {
    display: none !important;
  }
}

.content.message > div:has([no-br]), .content.message > article:has([no-br]), .content.message > section:has([no-br]) {
 & > br {
    display: none;
  }
}

.content.message > div:has([yes-br]), .content.message > article:has([yes-br]), .content.message > section:has([yes-br]) {
  & > br {
    display: block !important;
  }
}

.av-table {
  gap: var(--spacing-s);
  column-rule: 1px solid var(--border);
  row-rule: 1px solid var(--border);
  
  br {
    display: none;
  }
}

  
