.post:has([sin-perfil]) {
  grid-template-columns: 1fr !important;
  grid-template-areas: "body" !important;
  .profile {
    display: none !important;
  }
}

[no-br] {
 & > br {
    display: none;
  }
}

[yes-br] {
  & > br {
    display: block !important;
  }
}

.av-table {
  gap: var(--spacing-s);
  border: 1px solid var(--border);
  column-rule: 1px solid var(--border);
  row-rule: 1px solid var(--border);
  
  br {
    display: none;
  }

  span {
    padding: var(--spacing-xs);
    text-align: center;

    &.title {
      font-weight: 900;
    }
  }
}

  
