@font-face {
    font-family: antiqua;
    src: url(https://puckerino.github.io/PixieFonts/fonts/Antiqua.otf);
}

@font-face {
    font-family: hc;
    src: url(https://puckerino.github.io/PixieFonts/fonts/HighestCastellia.ttf);
}

@font-face {
    font-family: printvetica;
    src: url(https://puckerino.github.io/PixieFonts/fonts/Printvetica.otf);
}

@font-face {
    font-family: oli;
    src: url(https://puckerino.github.io/PixieFonts/fonts/Olivetti.ttf);
}



