#page-footer {
  background: var(--mono-1);
  display: flex;
  flex-direction: column;

.rightside {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font: var(--f-xs) var(--f-mono);
  text-transform: uppercase;
  padding: var(--spacing-s);
}
}

footer {
  display: grid;

  [data-pixie-footer] {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: max-content 1fr;
    grid-template-areas:  "groups online stats" "groups online lastuser";

    @container style(--screen: mobile) {
      grid-template-columns: 1fr;
      grid-template-areas:  "online" "stats" "lastuser" "groups";
    }

    .pixie-footer-stats {
      grid-area: stats;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-s);
      padding: var(--spacing);

      .pixie-footer-stat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-s);

        strong {
          font: var(--f-l) var(--f-title-deco);
        }

        span {
          font: var(--f-s) var(--f-metadata);
          text-transform: uppercase;
          letter-spacing: .1ch;
        }
      }
    }
    .pixie-footer-lastuser {
      grid-area: lastuser;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-s);
      justify-content: center;
      align-items: center;

      a {
        font: var(--f-xl) var(--f-title-deco);
        text-transform: uppercase;
      }
    }
    .pixie-footer-online {
      grid-area: online;
      display: grid;
      grid-template-columns: repeat(2,1fr);

      .pixie-footer-online-summary {
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-transform: uppercase;
        font: var(--f-base) var(--f-mono);
        padding: var(--spacing);

        span {
          display: flex;
          align-items: center;
          gap: var(--spacing-s);
        }
      }

      @container style(--screen: mobile) {
        grid-template-columns: 1;
      }

      .pixie-footer-users {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);

        h4 {
          font: var(--f-xl) var(--f-title-deco);
          text-transform: uppercase;
        }
      }
    }
    .pixie-footer-groups {
      grid-area: groups;

      .pixie-footer-group-list {
      display: flex;
      flex-direction: column;
      padding: var(--spacing);
      gap: var(--spacing);

        .pixie-footer-group {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          padding: var(--spacing);
          gap: var(--spacing-s);
          background: linear-gradient(150deg, transparent 70%, var(--group-color) 200%);
          }
        }
      }
    }

  .forum-options {
    display: flex;
    align-items: center;
    gap: var(--spacing);
    padding: var(--spacing);

    li {
      display: flex;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--spacing-s);
        aspect-ratio: 1;
        border: 1px solid var(--mono-3);
        background: var(--surface);
        transition: all .3s ease-in-out;

        &:hover{
          background: var(--accent);
          transition: all .3s ease-in-out;
        }

        & > span {
          font-size: var(--f-l);
        }
      }
    }
  }
}
