.category {
  hgroup {
    h2 {
      font: 200 var(--f-5xl) var(--f-category-title);
      text-transform: uppercase;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: var(--spacing-5xl);
  }
}

.forum-wrap {
  gap: var(--spacing);

  &:has(.forum:nth-child(3)) {
    .forum:first-of-type {
      grid-column: 1 / -1;
    }
  }

      @media (max-width: 700px) {
        --columns: 1 !important;
    }
}

.forum {
  display: grid;

  &:first-of-type:not(:has(.forum-img:empty)) {
  --forum-rows: 3;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: "title title img" "desc links img" "lastpost lastpost img";
  }


  &:has(.forum-img:empty) {
    --forum-rows: 3;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "title title" "desc links" "lastpost lastpost";
    border: 1px solid var(--border);
    
    .forum-img {
      display: none;
    }
  }

  &:has(.links:empty) {
    --forum-rows: 3;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "title img" "desc img" "lastpost img";

    .links {display: none;}
  }

  &:has(.links:empty):has(.forum-img:empty) {
    --forum-rows: 3;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "desc" "lastpost";
    border: 1px solid var(--border);

    .forum-img, .links {display: none;}
  }

  .data, .icon {
    display: none;
  }

  .description {
    padding: var(--spacing);
    font: var(--f-base) var(--f-text);
  }

  & > .title {
    font: var(--f-3xl) var(--f-title-deco);
    text-transform: uppercase;
    border-bottom: 1px solid var(--border);
    padding: var(--spacing);
    text-box-edge: cap alphabetic;
   text-box-trim: trim-both;
    line-height: 1;
  }

  .links {
    padding: var(--spacing);
  }

  .forum-links {
    display: grid;
    font: 100 var(--f-base) var(--f-mono);
    text-transform: uppercase;
    padding: var(--spacing);

    &:has(a:nth-child(5)) {
      grid-template-columns: repeat(2,1fr);
    }

    a {
      text-align: right;
    }
  }

  .lastpost {
    display: flex;
    background: var(--mono-2);
    gap: var(--spacing-s);
    padding-right: var(--spacing);

    .avatar-lastpost-forum {
      border: 10px solid var(--poster);
    }

    .lastpost-data {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: var(--spacing-s);

      .username {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font: var(--f-s) var(--f-mono);
        text-transform: uppercase;
        gap: var(--spacing);

        a {
          font: var(--f-base) var(--f-title-deco);
          text-transform: uppercase;
          text-box-edge: cap alphabetic;
text-box-trim: trim-both;
          line-height: 1;
        }
      }

      .title {
        font: var(--f-base) var(--f-title);
        text-transform: uppercase;
      }
    }   
  }
}
