.category {
  hgroup {
    h2 {
      font: 200 var(--f-3xl) var(--f-category-title);
      text-transform: uppercase;
    }
  }
}

.forum-wrap {
  gap: var(--spacing);

  &:has(.forum:nth-child(3)) {
    .forum:first-of-type {
      grid-column: 1 / -1;
    }
  }
}

.forum {
  display: grid;

  &:first-of-type:not(:has(.forum-img:empty)) {
  --forum-rows: 3;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: "title title img" "desc links img" "lastpost lastpost img";
  }


  &:has(.forum-img:empty) {
    --forum-rows: 3;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "title title" "desc links" "lastpost lastpost";

  .forum-img {
    display: none;
  }
  }

  .data {
    display: none;
  }

  & > .title {
    font: var(--f-xl) var(--f-title-deco);
    text-transform: uppercase;
  }

  .forum-links {
    display: grid;
    font: 100 var(--f-base) var(--f-mono);
    text-transform: uppercase;

    &:has(a:nth-child(5)) {
      grid-template-columns: repeat(2,1fr);
    }

    a {
      text-align: right;
    }
  }

  .lastpost {
    display: flex;

    .avatar-lastpost-forum {
      border: 10px solid var(--poster);
    }

    .lastpost-data {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
}

