nav {
  width: 100%;
  height: var(--nav-size);
  background: var(--navbar);
  color: var(--navbar-text);
  position: sticky;
  top: 0;
  z-index: 999;
  font: var(--f-s) var(--f-label);
  display: grid;
  grid-template-columns: repeat(2,1fr);

  .logo {
  font: var(--f-xl) var(--f-banner); text-transform: uppercase;
}
  
  
  & > * {display: flex;align-items: center; gap: var(--spacing-s);}
  
  i, svg {height: calc(var(--nav-size) / 2);width: calc(var(--nav-size) / 2);}

  .breadcrumbs {
    display: none;
  }

  .forum-nav {
    padding-left: var(--spacing);
  }

  .admin-nav a {
    background: var(--accent);
    padding: var(--spacing-xs) var(--spacing-s);
  }
    

  .user-nav, .guest-nav {
    justify-content: flex-end;
  }

  .guest-nav {
    display: flex;
    align-items: center;
    gap: var(--spacing);
    padding-right: var(--spacing);

    button {
      background: var(--accent);
      font: bold var(--f-s) var(--f-text);
      text-transform: uppercase;
      padding: var(--spacing-xs) var(--spacing);
    }
  }
    
  
  .link-perfil {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);

    .username {
      font: var(--f-l) var(--f-title-deco);
      text-transform: uppercase;
      line-height: 1;
          text-box-edge: cap alphabetic;
   text-box-trim: trim-both;
    }
  }
}

/* ====== POPOVERS ====== */

#notis-popover {
    --popover-width: 30vw;
    --popover-height: calc(100vh - var(--nav-size));
    --popover-transform: translateX(100%);
    --popover-transform-open: translateX(0);
    margin-right: 0;
    margin-top: var(--nav-size);
    border: 0;
}

#forumnavmenu {
    --popover-width: 30vw;
    --popover-height: calc(100vh - var(--nav-size));
    --popover-transform: translateX(-100%);
    --popover-transform-open: translateX(0);
    margin-top: var(--nav-size);
  margin-left: 0;
    border: 0;

    li.title {
        font: bold var(--f-base) var(--f-title);
        text-transform: uppercase;
        border-bottom: 1px solid var(--accent);
        width: 100%;
    }

    a {
        font: var(--f-base) var(--f-metadata);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: var(--spacing-s);
    }
}

#login-popover {
    --popover-width: max-content;
    --popover-height: max-content;
    --popover-transform: translateY(-10%);
    --popover-transform-open: translateY(0);
    border: 1px solid var(--border);

  .close-button {
    place-self: end;
  }

  input[type="submit"] {
    width: 100%;
  }
}



