nav {
  width: 100%;
  height: var(--nav-size);
  background: var(--navbar);
  color: var(--navbar-text);
  position: sticky;
  top: 0;
  z-index: 999;
  font: var(--f-s) var(--f-label);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
  
  & > * {display: flex;align-items: center; gap: var(--spacing-s);}
  
  i, svg {height: calc(var(--nav-size) / 2);width: calc(var(--nav-size) / 2);}

  .breadcrumbs {
    justify-content: center;
  }

  .admin-nav a {
    background: var(--accent);
    padding: var(--spacing-xs) var(--spacing-s);
  }
    

  .user-nav {
    justify-content: flex-end;
  }
  
  .link-perfil {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);

    .username {
      font: var(--f-l) var(--f-title-deco);
      text-transform: uppercase;
      line-height: 1;
    }
  }
}
