main.profile {

  .profile-top {
    align-items: end !important;
    gap: 0!important;
  }

  .profile-admin {
    display: flex;
    align-items: center;
    min-height: 60px;
    gap: var(--spacing);
    padding: var(--spacing);
    border-radius: var(--spacing) var(--spacing-5xl) var(--spacing) var(--spacing);
    corner-shape: square bevel square square;
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
  }

  .profile-character-links {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing);
    padding: var(--spacing);
    border-bottom: 1px solid var(--border);
  }

  .profile-wrapper {
    border-right: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
  }

  .profile-hero {
    display: grid;
    padding: var(--spacing);

    .profile-hero-data {
      display: flex;
      flex-direction: column;
      
      .username {
        font: var(--f-3xl) var(--f-title-deco);
        text-transform: uppercase;
        line-height: 1;
      }
    }
  }

  .sistema {
    align-items: start!important;
  }

  .stats {
    align-items: start !important;

    .atributo, .habilidad {
      display: grid;
      grid-template-columns: 1fr .25fr;
      text-transform: uppercase;
      align-items: center;

      span {
        font: bold var(--f-base) var(--f-mono);
      }
    }
  }

  .trasfondos {
    
    h3 {
      font: var(--f-base) var(--f-title);
      text-transform: uppercase;
    }

    div[data-profile-render-value] > div {
      display: grid;
      grid-template-columns: .5fr .25fr 1fr;
      grid-template-areas: "titulo nivel desc";
      border: 1px solid transparent;
      gap: var(--spacing-s);

      @container style(--screen: mobile) {
        display: flex;
        flex-direction: column;
      }

      u {
        grid-area: titulo;
        font: 600 var(--f-base) var(--f-mono);
        text-decoration: none;
        padding: var(--spacing-xs) var(--spacing-s);
        text-transform: uppercase;

        @container style(--screen: mobile) {
          width: max-content;
        }

        .positivos & {
          background: green;
        }

        .neutros & {
          background: var(--mono-3);
        }

        .negativos & {
          background: var(--accent);
        }
      }

      strong {
        grid-area: nivel;
        display: flex;
        align-items: center;
        gap: var(--spacing-xs);

        &:before {
          content: "NIVEL";
        }
      }

      i {
        grid-area: desc;
        font: normal var(--f-base) var(--f-text);
      }
    }
  }
}
