:root {
    interpolate-size: allow-keywords;
    color-scheme: light dark;

    --f-deco: hc;
    --f-title-deco: antiqua;
    --f-title: printvetica;
    --f-subtitle: oli;
    --f-text: "Archivo", sans-serif;
    --f-mono: "Cutive Mono", monospace;
    --f-buttons: "Manrope", sans-serif;
    --f-label: "Manrope", sans-serif;
    --f-metadata: "Manrope", sans-serif;

    --f-banner: hc;
    --f-category-title: antiqua;
    --f-forum-title: antiqua;
    --f-forum-links: "Cutive Mono", monospace;
    --f-post-username:antiqua;

    /*SHAPES*/
    --shape-deco: square;
    --shape-elements: square;
    --shape-cards: square;
    --shape-buttons: square;
  
  /*SHADOWS*/
  --shadow: 0 4px 12px rgb(0 0 0 / 0.15);
--shadow-2: 0 10px 24px rgb(0 0 0 / 0.25);

    /* FOUNDATION*/
    --mono-1: #0a0a0a;
    --mono-2: #171717;
    --mono-3: #262626;
    --mono-4: #404040;
    --mono-5: #525252;
    --mono-6: #737373;
    --mono-7: #a3a3a3;
    --mono-8: #d4d4d4;
    --mono-9: #e5e5e5;
    --mono-10: #f5f5f5;
    --mono-11: #fafafa;

    --text-1:  #fafafa;
    --text-2: #f5f5f5;
    --text-3: #e5e5e5;
    --text-4: #d4d4d4;

    /* ACCENT*/

    --accent: #763236;
    --accent-dark: color-mix(in srgb, var(--accent), var(--surface-contrast) 10%);
    --accent-darker: color-mix(in srgb, var(--accent), var(--surface-contrast) 50%);
    --accent-light: color-mix(in srgb, var(--accent), var(--text-contrast) 10%);
    --accent-lighter: color-mix(in srgb, var(--accent), var(--text-contrast) 50%);

    --accent-gradient: linear-gradient(to top, var(--accent-darker), var(--accent-dark), var(--accent), var(--accent-light));
    --accent-deco: radial-gradient(ellipse 70% 60% at 50% 0%, color-mix(in srgb, var(--accent), transparent 85%), transparent);


    /* SEMANTIC TOKENS*/

    --background: var(--mono-1);
    --background-elevated: var(--mono-2);

    --surface: var(--mono-1);
    --surface-elevated: var(--mono-2);
    --surface-hover: var(--mono-3);
    --surface-active: var(--mono-4);

    --border: var(--mono-3);
    --border-hover: var(--mono-4);
    --border-focus: var(--mono-4);

    --text: var(--text-1);
    --text-muted: var(--text-2);
    --text-subtle: var(--text-3);
    --text-disabled: var(--text-4);

    --input: var(--surface-elevated);
    --input-hover: var(--surface-hover);
    --input-border: var(--border);
    --input-border-focus: var(--border-focus);
    --border-strong: var(--border-focus);

    --toolbar: var(--accent);
    --toolbar-text: var(--text-1);

    --tooltip: var(--surface-elevated);
    --tooltip-text: contrast-color(var(--tooltip));

    --navbar: var(--mono-1);
    --navbar-text: var(--text-1);
    --nav-size: 50px;

    --sidebar: var(--surface-elevated);

    /* GRUPOS*/
    --group-2: var(--accent);
    --group-3: #735775; /*lugareños*/
    --group-4: #404978; /*forasteros*/

    /* IMAGENES */
    --avatar-post-width: 300px;
    --avatar-post-height: 300px;
    --avatar-post-mobile-width: 80px;
    --avatar-post-mobile-height: 80px;
    --avatar-post-mini-width: 80px;
    --avatar-post-mini-height: 80px;
    --avatar-nav-width: calc(var(--nav-size) - calc(var(--spacing-s) * 2));
    --avatar-nav-height: calc(var(--nav-size) - calc(var(--spacing-s) * 2));
    --avatar-lastpost-forum-width: 60px;
    --avatar-lastpost-forum-height: 60px;
    --avatar-lastpost-topic-width: 40px;
    --avatar-lastpost-topic-height: 40px;
    --avatar-memberlist-width: 250px;
    --avatar-memberlist-height: 400px;
    --avatar-privmsg-width: 80px;
    --avatar-privmsg-height: 80px;
    --avatar-discover-width: 50px;
    --avatar-discover-height: 50px;
    --rpg-img-width: 200px;
    --rpg-img-height: 200px;
}
