#tablon { 
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: var(--spacing);
	padding: var(--spacing);
	background: var(--surface-elevated);
	
	.tablon-title { 
		font: var(--f-xl) var(--f-title-deco);
		text-transform: uppercase;
	}

	/* ===============================
	LAST TOPICS
	================================ */
	
	.lasttopics { 
		grid-column: 1 / -1;

		.tablon-title {
			display: flex;
			align-items: center;
			gap: var(--spacing);
			padding: var(--spacing) 0;

			&:after {
				content: "";
				height: 1px;
				background: var(--accent);
				flex-grow: 1;
				min-width: 20px;
			}
		}
		
		.wrap { 
			width: 100%;
			display: grid;
			grid-template-columns: repeat(4,1fr);
			gap: var(--spacing);
			
			@container style(--screen: mobile) {
				grid-template-columns: 1fr;
			}
			
			.lasttopic { 
				display: flex;
				flex-direction: column;
				gap: var(--spacing-s);
				
				.date { 
					font: var(--f-s) var(--f-mono);
					text-transform: uppercase;
				}
				
				.title { 
					font: var(--f-base) var(--f-title);
					text-transform: uppercase;
				}
				
				.username { 
					font: var(--f-base) var(--f-text);
					text-transform: uppercase;
				}
			}
		}
	}

	/*====================
	LINKS RAPIDOS
	===================== */

	
}
